page-tabs {
    .cache-img {
        display: none;
    }

    .ion-tab-icon-base {
        width: 32px !important;
        height: 32px !important;
        padding: 4px 4px 2px;
    }
    .ion-tab-icon-md-base {
        min-width: 0 !important;
        height: 32px;
    }
    $tabImageName: 'home' 'market' 'settings';
    @for $i from 1 to 4 {
        //for ios
        .ion-ios-tab-#{nth($tabImageName, $i)} {
            @extend .ion-tab-icon-base;
            content: url("../../assets/icon/tabicon_#{nth($tabImageName, $i)}_on_2x.png");
        }
        .ion-ios-tab-#{nth($tabImageName, $i)}-outline {
            @extend .ion-tab-icon-base;
            content: url("../../assets/icon/tabicon_#{nth($tabImageName, $i)}_off_2x.png");
        }
        .tabs-ios .tab-button[aria-selected=true] {
            color: #014760;
        }
        .tabs-ios .tab-button[aria-selected=false] {
            color: #B9C2C6;
        }
        // for android
        .tabs-md .tab-button[aria-selected=true] {
            color: #014760;
            .ion-md-tab-#{nth($tabImageName, $i)} {
                @extend .ion-tab-icon-md-base;
                content: url("../../assets/icon/tabicon_#{nth($tabImageName, $i)}_on_2x.png");
            }
        }
        .tabs-md .tab-button[aria-selected=false] {
            color: #B9C2C6;
            .ion-md-tab-#{nth($tabImageName, $i)} {
                @extend .ion-tab-icon-md-base;
                content: url("../../assets/icon/tabicon_#{nth($tabImageName, $i)}_off_2x.png");
            }
        }
    }
    .ion-ios-tab-task,.ion-ios-tab-task-outline,.ion-ios-tab-master,.ion-ios-tab-master-outline{
        width: 30px !important;
        height: 32px !important;
    }

    .tabs .tabbar {
        background: #fff;
    }
}